#message,
.cta_button_area a,
.hero_fullscreen,
.subsection,
nav a {
    color: #fff
}

.hero_fullscreen,
.nivo-lightbox-theme-default.nivo-lightbox-overlay,
.preloader_header,
.subsection {
    background-color: #212121
}

.preloader_header .preloader_loader svg path.preloader_loader_circlebg {
    stroke: rgba(255, 255, 255, .1)
}

.preloader_header .preloader_loader svg path.preloader_loader_circle {
    transition: stroke-dashoffset .2s;
    stroke: rgba(255, 255, 255, .95)
}

.contact_form input[type=date],
.contact_form input[type=email],
.contact_form input[type=password],
.contact_form input[type=tel],
.contact_form input[type=text],
.contact_form textarea {
    border-bottom: 1px solid rgba(0, 0, 0, .4)
}

.background_color1 {
    background: #212121
}

.background_color2 {
    background: #262626
}

.iconbox_icon {
    color: rgba(255, 255, 255, .5)
}

.nivo-lightbox-theme-default .nivo-lightbox-close,
.nivo-lightbox-theme-default .nivo-lightbox-nav {
    color: #fff
}

#reviews .owl-theme .owl-controls .owl-page span {
    border-color: #fff!important;
    background: rgba(255, 255, 255, 0)
}

#reviews .owl-theme .owl-controls .owl-page.active span,
#reviews .owl-theme .owl-controls.clickable .owl-page:hover span {
    background: #fff;
    border-color: #fff!important
}