#screenshots .image_container,
.btn,
.btn-large {
    background-color: #607d8b
}

.btn-large:hover,
.btn:hover {
    background-color: #6a8999
}

input[type=date]:focus,
input[type=email]:focus,
input[type=password]:focus,
input[type=tel]:focus,
input[type=text]:focus,
textarea:focus {
    border-bottom: 1px solid #607d8b;
    -webkit-box-shadow: 0 1px 0 0 #607d8b;
    -moz-box-shadow: 0 1px 0 0 #607d8b;
    box-shadow: 0 1px 0 0 #607d8b
}

.hero_fullscreen.background_solid {
    background-color: #455a64
}

a {
    color: #607d8b
}

.hero_fullscreen.gradient_overlay {
    background-image: -ms-linear-gradient(top left, #4e342e 0, #546e7a 100%);
    background-image: -moz-linear-gradient(top left, #4e342e 0, #546e7a 100%);
    background-image: -o-linear-gradient(top left, #4e342e 0, #546e7a 100%);
    background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0, #4e342e), color-stop(1, #546e7a));
    background-image: -webkit-linear-gradient(top left, #4e342e 0, #546e7a 100%)
}