#screenshots .image_container,
.btn,
.btn-large {
    background-color: #ffc107
}

.btn-large:hover,
.btn:hover {
    background-color: #ffc414
}

input[type=date]:focus,
input[type=email]:focus,
input[type=password]:focus,
input[type=tel]:focus,
input[type=text]:focus,
textarea:focus {
    border-bottom: 1px solid #ffc107;
    -webkit-box-shadow: 0 1px 0 0 #ffc107;
    -moz-box-shadow: 0 1px 0 0 #ffc107;
    box-shadow: 0 1px 0 0 #ffc107
}

.hero_fullscreen.background_solid {
    background-color: #ff8f00
}

a {
    color: #ffc107
}

.hero_fullscreen.gradient_overlay {
    background-image: -ms-linear-gradient(top left, #e65100 0, #ffeb3b 100%);
    background-image: -moz-linear-gradient(top left, #e65100 0, #ffeb3b 100%);
    background-image: -o-linear-gradient(top left, #e65100 0, #ffeb3b 100%);
    background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0, #e65100), color-stop(1, #ffeb3b));
    background-image: -webkit-linear-gradient(top left, #e65100 0, #ffeb3b 100%)
}